.promos {
  .promo-title {
    font-weight: bold ;
  }
  td {
    padding: 1em 3em;
    text-align: center;
  }
  tr:nth-child(even){
    background: #f1f1f1;
  }
  .promo-row {
    border-top: 1px dashed #ccc;
  }
  .new-promo {
    background: #f06d22;
    border-radius: 12px;
    color: #fff;
    float: right;
    margin: 0 2em; 
    padding: 0.8em;
  }
  .eliminar {
    color: red;
  }
}