<div class="contenedor">
  <div class="canvas edit-content">
    <h1>Creando Menu</h1>
		<h1 class="subtitle">No olvides subir una fotografía</h1>

    <%= render 'form' %>

		<%= link_to resto_menus_path,class: "volver" do %>
			<i class="fa fa-angle-left "></i>
			<p>Volver a Menus</p>	
		<% end %>
  </div>
</div>
