<div class="contenedor">
  <div class="canvas">
    <h1>Solo falta un paso mas..</h1>
    <h4>Ve a tu correo,confirma tu cuenta y listo.</h4>
    <div class="resend-email">
      <a href="#">Si aun no recibes el email puedes reenviarlo desde <strong>aqui</strong></a>
    </div>
  </div>
</div>
