<div class="contenedor">
  <div class="canvas">
    <h1>Añadir plato a <%= @plato.categoria.name%></h1>

    <%= render 'form' %>

    <%= link_to 'Volver a Platos', edit_categoria_path(@plato.categoria_id), class: "volver"  %>
  </div>
</div>

