<div class="contenedor">
  <div class="canvas edit-content">
    <h1>Editando Promoción</h1>
		<h1 class="subtitle"><%= @promo.name %></h1>
    
    <%= link_to resto_promos_path,class: "volver" do %>
      <i class="fa fa-angle-left "></i>
      <p>Volver a Promociones</p> 
    <% end %>
    <%= render 'form' %>


  </div>
</div>
