<div class="contenedor">
  <div class="canvas edit-content">
    <h1>Creando Promoción</h1>

    <%= render 'form' %>

    <%= link_to resto_promos_path,class: "volver" do %>
      <i class="fa fa-angle-left "></i>
      <p>Volver a Promociones</p> 
    <% end %>

  </div>
</div>
