.button-form{
  background: #f06d22 !important;
  border: none !important;
  border-radius : 4px !important;
  color: #fff !important;
  margin-top: 5px !important;
  font-size: 1.1em !important;
  font-weight: bold !important;
  text-shadow: none !important;
  padding: 0.7em !important;
  width: 100% !important;
}

.login-button {
  @extend .button-form;
  border-radius : 0px 0 10px 10px !important;
  margin-top: 0.8em !important;
  margin-bottom: 0 !important;
}

.margin-bottom {
  margin-bottom : 1em !important;
}

.state-change {
  a {
    border: 0;
    border-radius: 4px;
    color: #fff;
    margin: 0 auto;
    padding: 5px 20px;
    text-decoration: none;
  }
  .red {
    background: #e74c3c;
    &:hover {
      background: #c0392b;
    }
  }
  .green {
    background: #2cc36b;
    &:hover {
      background: #2ecc71;
    }
  }
}